body {
  display: grid;
  grid-template: repeat(10, 100px) / repeat(6, minmax(150px, 1fr));
  background-color: rgb(228, 228, 228);
}
body * {
  border: 1px solid black;
  border-radius: 10px;
}

header {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  grid-template-columns: inherit;
  grid-template-rows: [doc-top head-top] 1fr [search-bot] 3fr [head-bot];
  justify-items: space-between;
}

img {
  height: 100px;
  justify-self: center;
}

.logo {
  grid-row: span 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

label {
  display: grid;
  grid-column: span 2;
  grid-row: 1 span 1;
  grid-template-columns: 5fr 1fr;
  gap: 10px;
} 

.header-top {
  display: grid;
  grid-area: 1 / 2 / 2 / -1;
  grid-template-columns: repeat(5, 150px);
  justify-content: space-between;
}

.toplinks {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  grid-template-columns: 1fr 1fr 1fr;
}

#searchbar {
  box-sizing: content-box;
  margin-left: 20px;
  padding: 3px 10px;
  height: 50px;
}

.title {
  grid-area: 2 / 2 / 3 / -1;
  font-size: 2em;
}

#sidebar {
  display: grid;
  grid-row: 2 / -1;
  grid-template-rows: inherit;
}

.dash {
  font-size: 2em;
}

ul {
  display: grid;
  grid-row: 2 / -2;
}

main {
  display: grid;
  grid-area: 2 / 2 / -1 / -1;
  grid-template-columns: 5fr 1fr;
}

.projects {
  grid-row: span 2;
}